{{- /* layouts/partials/extend_footer.html */ -}}

{{- /* Register Service Worker */ -}}
{{- if not .Site.IsServer -}}
<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js')
        .then(registration => {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        })
        .catch(err => {
          console.log('ServiceWorker registration failed: ', err);
        });
    });
  }
</script>
{{- end -}}

{{- /* Add other custom footer elements/scripts below this line if needed */ -}}
